<!-- src/templates/login.html -->
{% extends "layout.html" %}
{% block content %}
<div class="card" style="margin-top: 50px;">
    <h2 style="text-align: center;">BantayDaan Login</h2>
    {% if error %}<p style="color: red; font-size: 0.8rem; text-align: center;">{{ error }}</p>{% endif %}
    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" placeholder="citizen@bantay.ph" required>
        <br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="••••••••" required>
        <br><br>
        <button type="submit">Login</button>
    </form>
    <p style="text-align: center; font-size: 0.9rem; margin-top: 1rem;">
        No account? <a href="/register" style="color: var(--primary); font-weight: bold; text-decoration: none;">Register here</a>
    </p>
</div>
{% endblock %}
